<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/contact.css' />
  </head>
  <body>

    <div class="root">

        <div class="first">
          <a href="/"> Home
          </a>
          <a href="./services.ejs"> Nos Services</a>
          <a href="./contact.ejs">Contactez-nous</a>
        </div>
        <div class="mini-first">Our Teamates</div>
<div class="second">
    <p>  Directeur principal </p>   
    <div> 
       <h1>number : 07 00 00 00 00 </h1> 
       <h1> Dg @gmail.com</h1>
    </div>
</div>

<div class="third">
    <div>
        <p>  First Community Manager </p>   
    <div> 
       <h1>number : 07 00 00 00 00 </h1> 
       <h1> CMF@gmail.com</h1>
    </div>
    </div>
    <div>
        <p>  Second Community manager </p>   
        <div> 
           <h1>number : 07 00 00 00 00 </h1> 
           <h1> CMS@gmail.com</h1>
        </div>
    </div>
    
</div>









    </body>