<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="root">

      <div class="first">
        <a href="/"> Home
        </a>
        <a href="/services"> Nos Services</a>
        <a href="/contact">Contactez-nous</a>
      </div>
    
      <div class="second">
        <u>GOMYCODE : l'école du numérique </u>      </div>
    </div>

<div class="third">
  <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos, optio sequi quis soluta corrupti pariatur voluptate magni odio at ducimus? Praesentium incidunt vero doloribus reiciendis, consectetur et tempore eaque.
</p> <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, tenetur accusamus. Illum maiores qui necessitatibus expedita iure explicabo accusamus omnis fuga nostrum blanditiis perferendis tenetur quibusdam mollitia optio, repellat accusantium.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sed aliquam consequatur dolore illo totam, ipsa quidem delectus, quia similique, ratione quasi rerum deserunt voluptatibus. Earum amet ea totam autem?
</p>
  <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem aliquid obcaecati ipsa, placeat odio blanditiis beatae suscipit ea tenetur animi sapiente molestiae quae ullam, ex ab totam magni esse.
  </p><p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aperiam quam pariatur velit quis. Deserunt facilis, voluptas unde dolore provident explicabo eius at, neque consequatur debitis quidem fugiat optio? Odit?
  </p>
  </div>
    
    
  </body>
</html>
