<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="root">

        <div class="first">
          <a href="/"> Home
          </a>
          <a href="./services.ejs"> Nos Services</a>
          <a href="./contact.ejs">Contactez-nous</a>
        </div>
          <h1> GOMYCODE DISPENSE PLUSIEURS FORMATIONS EN LOCCURENCE</h1>


    </body>